@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: sans-serif;
  -moz-osx-font-smoothing: sans-serif;
  font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
}


